.feed {
    flex: 1;                    /* Takes precedence as much rom as it can */
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}